@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* =========================
   GLOBAL STYLES
========================= */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #020817;
    color: white;
    min-height: 100vh;
    overflow-x: hidden;
}

/* =========================
   NAVBAR
========================= */
.navbar {
    width: 90%;
    margin: auto;
    padding: 30px 80px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
}

.logo span {
    color: #00BFFF;
}

.nav-menu {
    display: flex;
    list-style: none;
    gap: 50px;
}

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    position: relative;
    transition: 0.3s;
}

.nav-menu a:hover,
.nav-menu a.active {
    color: #00BFFF;
}

.nav-menu a.active::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background: #00BFFF;
    left: 0;
    bottom: -10px;
}

.resume-nav-btn {
    padding: 15px 30px;
    border: 2px solid #00BFFF;
    border-radius: 15px;
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

.resume-nav-btn:hover {
    background: #00BFFF;
    color: black;
}

/* =========================
   HERO SECTION
========================= */
.hero {
    width: 90%;
    margin: auto;
    min-height: calc(100vh - 120px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

/* Hero Content */
.hero-content {
    flex: 1;
}

.intro {
    color: #00BFFF;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.hero-content h1 {
    font-size: 4.5rem;
    font-weight: 700;
    line-height: 1.1;
    margin-bottom: 15px;
}

.hero-content h1 span {
    color: #00BFFF;
}

.hero-content h2 {
    color: #00BFFF;
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.description {
    color: #d1d5db;
    font-size: 1.2rem;
    line-height: 1.7;
    max-width: 550px;
    margin-bottom: 40px;
}

/* =========================
   HERO BUTTONS
========================= */
.hero-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
    flex-wrap: nowrap;
}

.project-btn,
.download-btn {
    text-decoration: none;
    padding: 18px 30px;
    border-radius: 15px;
    font-size: 1.1rem;
    font-weight: 600;
    white-space: nowrap;
    
    transition: all 0.3s ease;
    

    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.project-btn {
    background: linear-gradient(90deg, #00BFFF, #0099FF);
    color: white;
    
}

.download-btn {
    border: 2px solid #00BFFF;
    color: white;
    
}

.project-btn:hover,
.download-btn:hover {
    transform: translateY(-5px);
}

/* =========================
   SOCIAL ICONS
========================= */
.social-icons {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.social-icons a {
    width: 55px;
    height: 55px;

    border: 2px solid #00BFFF;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;

    color: white;
    font-size: 24px;
    text-decoration: none;

    transition: all 0.3s ease;
}

.social-icons a:hover {
    background: #00BFFF;
    color: #020817;
    transform: translateY(-5px);
}

/* =========================
   HERO IMAGE SECTION
========================= */
.hero-image {
    flex: 1;
    margin-left: 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;
}

.image-circle {
   
    width: 350px;
    height: 350px;

    border-radius: 50%;
    border: 5px solid #66D9FF;

    overflow: hidden;

    box-shadow:
        0 0 20px #00BFFF,
        0 0 50px rgba(0,191,255,0.5);

    animation: float 4s ease-in-out infinite;
}

.image-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Decorative Circle */
.small-circle {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    background: #008CFF;

    position: absolute;
    left: 60px;
    bottom: 60px;

    box-shadow: 0 0 25px #00BFFF;
}

/* Dots Pattern */
.dots {
    position: absolute;
    top: 50px;
    right: 20px;

    display: grid;
    grid-template-columns: repeat(5, 15px);
    gap: 18px;
}

.dots span {
    width: 7px;
    height: 7px;

    border-radius: 50%;
    background: #00BFFF;
}
/* ===== EDUCATION SECTION ===== */
.education {
    padding: 80px 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.education-title {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 60px;
    position: relative;
}

.education-title::after {
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #00BFFF;
    margin: 3px auto 0;
    border-radius: 10px;
}

.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.slider-container {
    width: 90%;
    max-width: 600px;
           
    overflow: hidden;
}

.education-slider {
    display: flex;
    transition: transform 0.5s ease;
}

.edu-card {
    min-width: 100%;   

    height: 220px;     

    background: rgba(255,255,255,0.03);
    border: 2px solid #00BFFF;
    border-radius: 20px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 25px;
}

.edu-card h3 {
    color: #00BFFF;
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.edu-card p {
    color: white;
    font-size: 1.1rem;
    margin-bottom: 10px;
}

.edu-card span {
    color: #ccc;
}

.slider-btn {
    width: 50px;
    height: 50px;

    border-radius: 50%;
    border: 2px solid #00BFFF;

    background: transparent;
    color: #00BFFF;

    cursor: pointer;
}

.slider-btn:hover {
    background: #00BFFF;
    color: #020817;
}
/* =========================
   ABOUT SECTION
========================= */
.about-section {
    padding: 120px 10% 60px;
    text-align: center;
}

.about-title {
    text-align: center;
    font-size: 4rem;
    color: white;
    margin-bottom: 60px;
    position: relative;
}



.about-title::after {
    content: '';
    display: block;
    width: 26%;       
    height: 2px;        
    background: #00BFFF;
    margin: 3px auto 0;
    border-radius: 10px;
}

.about-subtitle {
    color: #00BFFF;
    margin-bottom: 50px;
    font-size: 1.5rem;
}

.about-content {
    max-width: 900px;
    margin: auto;
}

.about-content p {
    color: #d1d5db;
    font-size: 1.15rem;
    line-height: 1.9;
    margin-bottom: 25px;
}


/* ===== SECTION HEADINGS ===== */

.section-heading {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 60px;
    position: relative;
}

.section-heading::after {
    content: "";

    width: 100px;
    height: 4px;

    background: #00BFFF;

    display: block;

    margin: 15px auto 0;

    border-radius: 10px;
}



/* ===== HOBBIES ===== */
.hobbies {
    padding: 80px 10%;
}

.hobbies-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;

    max-width: 1000px;
    margin: 0 auto;
}

.hobby-card {
    background: rgba(255, 255, 255, 0.05);

    border: 2px solid rgba(0, 191, 255, 0.3);

    border-radius: 20px;

    padding: 30px 25px;

    text-align: center;

    color: white;

    backdrop-filter: blur(10px);

    transition: all 0.3s ease;
}

.hobby-card:hover {
    transform: translateY(-8px);

    border-color: #00BFFF;

    box-shadow: 0 0 20px rgba(0, 191, 255, 0.4);
}

.hobby-card i {
    font-size: 2rem;

    color: #00BFFF;

    margin-bottom: 15px;
}

.hobby-card p {
    color: #d1d5db;

    line-height: 1.6;
}
.section-heading {
    text-align: center;
    font-size: 2.5rem;
    color: white;
    margin-bottom: 60px;
    position: relative;
}

.section-heading::after {
    content: '';
    display: block;
    width: 15%;
    height: 2px;
    background: #00BFFF;
    margin: 3px auto 0;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .hobbies-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .hobbies-container {
        grid-template-columns: 1fr;
    }
}
/* ===== CERTIFICATIONS ===== */

.certifications {
    padding: 80px 10%;
}

.section-title {
    text-align: center;
    font-size: 3rem;
    color: white;
    margin-bottom: 60px;
    position: relative;
}

.section-title::after {
    content: '';
    display: block;
    width: 28%;
    height: 2px;
    background: #00BFFF;
    margin: 3px auto 0;
    border-radius: 10px;
}

.certificate-container {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 30px;
    max-width: 1400px;
    margin: o auto;
}

.certificate-card {
    background: rgba(255, 255, 255, 0.03);

    border: 2px solid rgba(0, 191, 255, 0.3);

    border-radius: 25px;

    padding: 40px 30px;

    text-align: center;

    transition: 0.3s ease;

    backdrop-filter: blur(10px);
}

.certificate-card:hover {
    transform: translateY(-10px);

    border-color: #00BFFF;

    box-shadow: 0 0 25px rgba(0, 191, 255, 0.4);
}

.certificate-card i {
    font-size: 3rem;
    color: #00BFFF;
    margin-bottom: 20px;
}

.certificate-card h3 {
    margin-bottom: 15px;
}

.certificate-card p {
    color: #cccccc;
}
/* =========================
   EXPERIENCE SECTION
========================= */

.experience {
    padding: 120px 10%;
}

.experience-title {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 80px;
    position: relative;
}

.experience-title::after {
    content: '';
    display: block;
    width: 23%;
    height: 2px;
    background: #00BFFF;
    margin: 3px auto 0;
    border-radius: 10px;
}

.experience-container {
    position: relative;
    max-width: 1000px;
    margin: auto;
}

.experience-container::before {
    content: '';

    position: absolute;

    left: 30px;
    top: 0;

    width: 4px;
    height: 100%;

    background: rgba(0, 191, 255, 0.3);
}

.experience-card {
    position: relative;

    margin-bottom: 50px;
    margin-left: 80px;

    padding: 30px;

    background: rgba(255, 255, 255, 0.03);

    border: 2px solid rgba(0, 191, 255, 0.2);

    border-radius: 20px;

    transition: 0.3s ease;
}

.experience-card:hover {
    transform: translateY(-10px);

    border-color: #00BFFF;

    box-shadow: 0 0 20px rgba(0, 191, 255, 0.3);
}

.experience-icon {
    position: absolute;

    left: -67px;
    top: 35px;

    width: 50px;
    height: 50px;

    border-radius: 50%;

    background: #00BFFF;

    display: flex;
    align-items: center;
    justify-content: center;

    color: white;
}
.experience-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.experience-header h2 {
    margin: 0;
    
}

.experience-date {
    color: #00BFFF;
    font-weight: 600;
    margin-left: auto;
}

.experience-content h2 {
    margin: 15px 0 5px;
}

.experience-content h3 {
    color: #d1d5db;
    margin-bottom: 15px;
}

.experience-content p {
    color: #d1d5db;
    line-height: 1.8;
}
/* =========================
   SKILLS SECTION
========================= */
.skill-card {
    display: inline-block;

    padding: 15px 25px;
    margin: 10px;

    border-radius: 10px;
    background: #323232d8;

    transition: transform 0.3s ease;
}

.skill-card:hover {
    transform: scale(1.05);
}
/* Tablet */
@media (max-width: 1024px) {
    .certificate-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* Mobile */
@media (max-width: 768px) {
    .certificate-container {
        grid-template-columns: 1fr;
    }
}

/* =========================
   FORMS
========================= */
input,
textarea {
    width: 100%;

    padding: 10px;
    margin-top: 10px;
    margin-bottom: 20px;

    box-sizing: border-box;
}

button {
    padding: 10px 20px;

    border: none;
    border-radius: 25px;

    cursor: pointer;

    transition:
        transform 0.3s ease,
        background-color 0.3s ease;
}

button:hover {
    transform: scale(1.05);
}

/* =========================
   CONTACT SECTION
========================= */
#contact {
    text-align: center;
    padding: 60px 20px;
}

#contact h1 {
    font-size: 40px;
    margin-bottom: 20px;
    color: #7fbcdd;
}

#contact h2 {
    font-size: 25px;
    margin-bottom: 20px;
}

#contact p {
    font-size: 18px;
    margin: 10px 0;
    color: white;
}

#contact a {
    color: white;
    text-decoration: none;
}

#contact a:hover {
    color: #7fbcdd;
    text-decoration: underline;
}



/* =========================
   ANIMATIONS
========================= */
@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes smoothAppear {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/* =========================
   THEME TOGGLE
========================= */
#theme-toggle {
    font-family: Arial, "Apple Color Emoji",
                 "Segoe UI Emoji", sans-serif;
    font-size: 24px;
}

/* =========================
   RESPONSIVE DESIGN
========================= */
@media (max-width: 1200px) {

    .hero {
        flex-direction: column-reverse;
        text-align: center;
        padding: 50px 0;
    }

    .hero-buttons,
    .social-icons {
        justify-content: center;
    }

    .hero-content h1 {
        font-size: 4rem;
    }

    .hero-content h2 {
        font-size: 2.5rem;
    }

    .image-circle {
        width: 350px;
        height: 350px;
    }

    .navbar {
        flex-direction: column;
        gap: 25px;
    }

    .nav-menu {
        flex-wrap: wrap;
        justify-content: center;
        gap: 25px;
    }
}

@media (max-width: 768px) {

    .hero-content h1 {
        font-size: 3rem;
    }

    .hero-content h2 {
        font-size: 2rem;
    }

    .intro {
        font-size: 1.5rem;
    }

    .description {
        font-size: 1.1rem;
    }

    .image-circle {
        width: 280px;
        height: 280px;
    }

    .hero-buttons{
        flex-direction: row;
    }

}